<div>
  <div class="col-lg-6">
    <h3>GET Request</h3>
    <h4>Response {{getRequestCount}}</h4>
    <button class="btn btn-primary" ng-click="main.submitGetRequest()">Call API</button>
    <pre>{{getResponse[0].PublishDate | json}}</pre>
  </div>
  <div class="col-lg-6">
    <h3>POST Request</h3>
    <h4>Response {{postRequestCount}}</h4>
    <button class="btn btn-primary" ng-click="main.submitPostRequest()">Call API</button>
    <pre>{{postResponse | json}}</pre>
  </div>
</div>
